body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
}

li {
  font-size: 18px;
  line-height: 1.2;
}

.phone-section {
  padding: 20px 0;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

p {
  margin: 0;
}
