@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.fc-head-container,
.fc-widget-header {
  background-color: #eaf0f4;
  color: #a3a6b4;
  font-weight: 700;
}
.fc-day-header,
.fc-widget-header {
  padding: 10px 0px;
  border-style: hidden !important;
}
.fc-center {
  h2 {
    font-size: 18px;
    font-weight: 400;
    color: #4d4f5c;
  }
}

.fc-button-primary {
  font-size: 13px;
  background: transparent;
  padding: 8px 18px;
  border: 1px solid #d7dae2;
  color: #4d4f5c;
  text-transform: capitalize;

  &:disabled {
    color: #3b86ff;
    background-color: transparent;
    border: 1px solid #d7dae2;
  }
}

.fc-button-primary:hover {
  background-color: #d7dae2;
  border-color: #c8cbd2;
}

.fc-button-primary:not(:disabled):active,
.fc-button-primary:not(:disabled).fc-button-active {
  color: #3b86ff;
  background-color: transparent;
  border: 1px solid #d7dae2;
}

.fc-day,
.fc-widget-content,
.fc-sun,
.fc-other-month,
.fc-past {
  cursor: pointer;
}
