@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';
@import '~@fullcalendar/timegrid/main.css';

.fc-head-container,
.fc-widget-header {
  background-color: #f5f6fa;
  color: #a3a6b4;
  font-weight: 700;
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-content,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-list-heading td {
  border-color: #eaf0f4;
}
.fc-axis,
.fc-widget-header {
  border: none;
}

.fc-day-header,
.fc-widget-header,
.fc-fri,
.fc-today {
  border: none;
}

.fc-day-header,
.fc-widget-header {
  padding: 10px 0px;
}
.fc-center {
  h2 {
    font-size: 18px;
    font-weight: 400;
    color: #4d4f5c;
  }
}

.fc-button-primary {
  font-size: 13px;
  background: transparent;
  padding: 8px 18px;
  border: 1px solid #d7dae2;
  color: #4d4f5c;
  text-transform: capitalize;

  &:disabled {
    color: #3b86ff;
    background-color: transparent;
    border: 1px solid #d7dae2;
  }
}

.fc-button-primary:hover {
  background-color: #d7dae2;
  border-color: #c8cbd2;
}

.fc-button-primary:not(:disabled):active,
.fc-button-primary:not(:disabled).fc-button-active {
  color: #3b86ff;
  background-color: transparent;
  border: 1px solid #d7dae2;
}

.fc-day,
.fc-widget-content,
.fc-sun,
.fc-other-month,
.fc-past {
  cursor: pointer;
}

.fc-event-container {
  .fc-event {
    transition: all 0.2s linear;
  }

  .fc-event:hover {
    background-color: #6daceb;
    border-color: #6daceb;
  }
}

.fc-now-indicator {
  border-color: #3b86ff;
}

.fc-unthemed td.fc-today {
  background: #e8ebf5;
}
