.form-modal {
  position: absolute;
  z-index: 999;
}
.modal {
  display: block;
  width: 201px;
  height: auto;
  border: 1px solid #43425d;
  border-radius: 10px;
  background-color: #fff;
  padding: 22px 25px;
  color: #d6d6d6;
  position: relative;

  &__buttons {
    display: flex;
    justify-content: space-between;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    background-color: transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #43425d;
    position: absolute;
    top: -21px;
    left: 50%;
    z-index: 999;
  }
}

.MuiFormControl-root {
  margin-bottom: 20px !important;
}
.MuiFormControl-root,
.MuiTextField-root {
  width: 100%;
}
